<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trading - FuturaHealth</title>
  <link rel="stylesheet" href="feature1.component.css"> <!-- Ensure your CSS paths are correct -->
</head>
<body>
<nav>
  <div class="logo">
    <a href="#header">
      <img src="/assets/images/FuturaHealthLogo.png" alt="Company Logo" height="50"> <!-- Adjust height as needed -->
    </a>
  </div>
  <ul>
    <li><a routerLink="/feature1">Trade</a></li>
    <li><a routerLink="/feature2">Bet</a></li>
  </ul>
</nav>

<header>
  <h1>Trading</h1>
</header>
<section>
  <p style="text-align: center; font-size: 30px">
    This is an in-depth look at Trading.
    Our platform revolutionizes the way you understand trading by intertwining it with deep insights into public health issues. </p>
</section>

<!-- Image Gallery Start -->
<div class="image-gallery">
  <div class="image-item">
    <img src="/assets/images/trade/Home%20Trade.png" alt="Trade Home Screen" width="300" height="600">
    <p style="font-size: 20px">This is the Home Screen that the user is greeted with upon opening the app.
    They are able to view their current positions as well as monitor their watchlist.
    They are also informed of their account value, along with any gain or losses.</p>
  </div>
  <div class="image-item">
    <img src="/assets/images/trade/Make%20a%20Trade.png" alt="Placing a Trade" width="300" height="600">
    <p style="font-size: 20px">This is the screen that the user is met with when attempting to place a trade.
    The user is able to see a chart of the cases' previous movement as well as
      enter how much money they would like to spend to place an order.</p>
  </div>
  <div class="image-item">
    <img src="/assets/images/trade/Trade%20Infographic.png" alt="Infographic on how to Trade" width="300" height="600">
    <p style="font-size: 20px">This an infographic the user is able to view within the app.
    This educates the user of the basics of trading to use the app.</p>
  </div>
  <div class="image-item">
    <img src="/assets/images/trade/About%20Covid%20Case%20Trade.png" alt="Description of what the user is trading." width="300" height="600">
    <p style="font-size: 20px">The user is able to read up on the description of what they are trading.
    This allows them to gain insight on what they are putting their money into, as well as being provided with
    measures they can take to be safe from the virus.</p>
  </div>
</div>
<!-- Image Gallery End -->

</body>
</html>
