<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Betting- FuturaHealth</title>
  <link rel="stylesheet" href="feature2.component.css"> <!-- Ensure your CSS paths are correct -->
</head>
<body>
<nav>
  <div class="logo">
    <a href="#header">
      <img src="/assets/images/FuturaHealthLogo.png" alt="Company Logo" height="50"> <!-- Adjust height as needed -->
    </a>
  </div>
  <ul>
    <li><a routerLink="/feature1">Trade</a></li>
    <li><a routerLink="/feature2">Bet</a></li>
  </ul>
</nav>

<header>
  <h1>Betting</h1>
</header>
<section>
  <p style="text-align: center; font-size: 30px">
    This is an in-depth look at Betting.
    By participating, you're not just placing bets;
    you're contributing to a larger conversation on health and wellness,
    turning every wager into an opportunity for education and advocacy. </p>
</section>

<!-- Image Gallery Start -->
<div class="image-gallery">
  <div class="image-item">
    <img src="/assets/images/bet/Home%20Bet.png" alt="Bet Home Screen" width="300" height="600">
    <p style="font-size: 20px">This is the Home Screen that the user is greeted with upon opening the app.
      They are able to view their current bets along with the prize pool.
      They are also able to explore different categories along with check their favorites.</p>
  </div>
  <div class="image-item">
    <img src="/assets/images/bet/Make%20a%20Bet.png" alt="Placing a Bet" width="300" height="600">
    <p style="font-size: 20px">This is the screen that the user is met with when attempting to bet whether the amount of cases
      will increase or decrease.
      The user is able to see a chart of the cases' previous movement as well as what the the potential increase
    can be for their desired amount to bet.</p>
  </div>
  <div class="image-item">
    <img src="/assets/images/bet/Bet.png" alt="Infographic on how to Bet" width="300" height="600">
    <p style="font-size: 20px">This an infographic the user is able to view within the app.
      This educates the user of the basics of how to Bet on the app.</p>
  </div>
  <div class="image-item">
    <img src="/assets/images/bet/About%20CVD%20Bet.png" alt="Screen for Cases" width="300" height="600">
    <p style="font-size: 20px">This is what the screen would look like when the user is looking at different cases.
    They are able to see the chart for Trading as well as the different months they can Bet on.</p>
  </div>
</div>
<!-- Image Gallery End -->

</body>
</html>
